@page 
@model BookingSystem.Pages.AdminPanel.EditModel
@{
    ViewData["Title"] = "Edit Customer";
}

<form method="post">
    <h1 class="mb-3">Edit Customer</h1>

    <!-- Include a hidden field to retain the CustomerID during form submission -->
    <input type="hidden" name="" asp-for="EditCustomerViewModel.CustomerID" />


    <div class="mb-3">
        <label class="col-form-label">Name</label>
        <input type="text" class="form-control" name="EditCustomerViewModel.FirstName" asp-for="EditCustomerViewModel.FirstName" />
    </div>
    <div class="mb-3">
        <label class="col-form-label">Surname</label>
        <input type="text" class="form-control" name="EditCustomerViewModel.LastName" asp-for="EditCustomerViewModel.LastName" />
    </div>
    <div class="mb-3">
        <label class="col-form-label">Phone</label>
        <input type="text" class="form-control" name="EditCustomerViewModel.Phone" asp-for="EditCustomerViewModel.Phone" />
    </div>
    <div class="mb-3">
        <label class="col-form-label">Email</label>
        <input type="text" class="form-control" name="EditCustomerViewModel.EmailAdress" asp-for="EditCustomerViewModel.EmailAdress" />
    </div>
    <div class="mb-3">
        <label for="selectPlan" class="col-form-label">Plan</label>
        <select id="selectPlan" name="EditCustomerViewModel.PlanID" class="form-control w-50">
    @foreach (var plan in Model.Plans)
    {
        <option value="@plan.PlanID" selected="@(plan.PlanID == Model.EditCustomerViewModel.PlanID)">@plan.Plan</option>
    }
</select>


    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>
