@page
@model BookingSystem.Pages.AdminPanel.ListModel
@{
}

<h1 class="mb-3">List Of Customers</h1>

@if(Model.Customers != null && Model.Customers.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>LastName</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var customer in Model.Customers)
            {
                <tr>
                    <td>@customer.LastName</td>
                    <td>@customer.Phone</td>
                    <td>
                        <a asp-page="./Edit" asp-route-CustomerID="@customer.CustomerID" class="btn btn-dark">Edit</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
}
else
{
    <p>No customers found!</p>
}