@page
@model BookingSystem.Pages.AdminPanel.TrainingsListModel
@{
}
<h1>Trainings Schedule</h1>
<div>
    <form method="post">
        <button type="submit" class="btn btn-primary">Save</button>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                @for (int i = 0; i < 7; i++)
                {
                    var currentId = 54 + i;
                    var rowData = Model.Date.FirstOrDefault(item => item.DateID == currentId);

                    if (rowData != null)
                    {

                        <th>@rowData.Dates.ToShortDateString()</th>
                        <!-- Kitos stulpelio reikšmės -->
                    }
                    else
                    {
                        <!-- Jei nėra duomenų su tokiu ID -->

                        <th>No data</th>
                        <!-- Kitos stulpelio reikšmės -->
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var times in Model.Time)
            {
                <tr>
                    <td>@times.Times.ToString("HH:mm")</td>
                    @for (int i = 0; i < 7; i++)
                    {
                        var currentId = 54 + i;
                        var rowData = Model.Date.FirstOrDefault(item => item.DateID == currentId);
                        @foreach (var schedule in Model.Schedule)
                        {
                            
                            var training = schedule.Training;
                            var trainigData = Model.GroupTraining.FirstOrDefault(schedule => schedule.TrainingID == training);
                            if (times.TimeID == schedule.Time && currentId==schedule.Date)
                                {
                                    <td>
                                        <a asp-page="./EditSchedule" asp-route-ScheduleID="@schedule.ScheduleID" class="btn btn-dark">@trainigData.Training</a>
                                    </td>
                                } 
                            else
                                {
                                    <td>
                                        <form>
                                            <div class="mb-3">
                                                <input type="hidden" class="form-control " name="Tra" asp-for="EditCustomerViewModel.LastName" />
                                            
                                                <input type="hidden" class="form-control" name="EditCustomerViewModel.Phone" asp-for="EditCustomerViewModel.Phone" />
                                            </div>
                                        </form>
                                        <button type="submit" class="btn btn-primary">Add</button>
                                        <a asp-page="./EditSchedule" class="btn btn-dark">Add</a>                                        
                                    </td>
                                }
                            }
                    }
                </tr>
            }
        </tbody>
    </table>
    </form>
</div>
